# 0. Índice <a name="Contents"></a>
1. [Importando bibliotecas](#import)
2. [Construindo um dataframe](#read)
3. [Identificando dados ausentes/missing](#identificando)
4. [Tratando dados ausentes/missing](#tratando)
5. [Dados duplicados](#duplicados)
6. [Mapeamento](#map)

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [1]:
import pandas as pd
import numpy as np

E:\Anaconda\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

# 2. Construindo um dataframe <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [2]:
df = pd.DataFrame(
    np.random.randn(9, 4)*100,
    index=["A", "B", "C", "D", "E", "F", "G", "H", "I"],
    columns=["coluna1", "coluna2", "coluna3","coluna4"],
)
df

      coluna1     coluna2     coluna3     coluna4
A  -59.408881   19.162691  147.896336 -167.750207
B    4.419869 -119.462725   92.897442   92.402529
C  -86.840222  -32.080905  -95.692927  109.486400
D -101.185652 -150.796676    4.826626   22.142274
E   92.587581  -53.711057  -69.326482   85.014970
F   41.053771  -26.627158 -111.366635 -159.390047
G  -91.909914 -124.970419  118.753089  -18.958819
H -156.922261 -194.703714  -33.493194   80.329851
I   88.699113  -84.668493   -5.422328 -102.477870

In [3]:
df.dtypes

coluna1    float64
coluna2    float64
coluna3    float64
coluna4    float64
dtype: object

## Alterando os tipos de dados

In [4]:
df['coluna1'] = df['coluna1'].astype(int)

In [5]:
df.dtypes

coluna1      int32
coluna2    float64
coluna3    float64
coluna4    float64
dtype: object

In [6]:
df['coluna3'] = df['coluna3'].astype(str)

In [7]:
df.dtypes

coluna1      int32
coluna2    float64
coluna3     object
coluna4    float64
dtype: object

In [8]:
df

   coluna1     coluna2             coluna3     coluna4
A      -59   19.162691  147.89633575524198 -167.750207
B        4 -119.462725   92.89744160233238   92.402529
C      -86  -32.080905   -95.6929273973149  109.486400
D     -101 -150.796676   4.826625818240176   22.142274
E       92  -53.711057  -69.32648199905556   85.014970
F       41  -26.627158  -111.3666354068138 -159.390047
G      -91 -124.970419   118.7530887053972  -18.958819
H     -156 -194.703714   -33.4931944495851   80.329851
I       88  -84.668493  -5.422328299133875 -102.477870

## Acrescentando dados faltantes na tabela

In [9]:
df.iloc[4,2]

'-69.32648199905556'

In [10]:
df.iloc[4,2] = np.nan

In [11]:
df

   coluna1     coluna2             coluna3     coluna4
A      -59   19.162691  147.89633575524198 -167.750207
B        4 -119.462725   92.89744160233238   92.402529
C      -86  -32.080905   -95.6929273973149  109.486400
D     -101 -150.796676   4.826625818240176   22.142274
E       92  -53.711057                 NaN   85.014970
F       41  -26.627158  -111.3666354068138 -159.390047
G      -91 -124.970419   118.7530887053972  -18.958819
H     -156 -194.703714   -33.4931944495851   80.329851
I       88  -84.668493  -5.422328299133875 -102.477870

In [12]:
df.iloc[1,0] = np.nan
df.iloc[4,0] = np.nan
df.iloc[3,0] = np.nan
df.iloc[8,0] = np.nan
df.iloc[6,0] = np.nan
df.iloc[4,3] = np.nan
df.iloc[4,3] = np.nan
df.iloc[8,3] = np.nan

In [13]:
df

   coluna1     coluna2             coluna3     coluna4
A    -59.0   19.162691  147.89633575524198 -167.750207
B      NaN -119.462725   92.89744160233238   92.402529
C    -86.0  -32.080905   -95.6929273973149  109.486400
D      NaN -150.796676   4.826625818240176   22.142274
E      NaN  -53.711057                 NaN         NaN
F     41.0  -26.627158  -111.3666354068138 -159.390047
G      NaN -124.970419   118.7530887053972  -18.958819
H   -156.0 -194.703714   -33.4931944495851   80.329851
I      NaN  -84.668493  -5.422328299133875         NaN

In [14]:
# Os tipos de dados podem mudar após acrescentar um dado faltante
df.dtypes

coluna1    float64
coluna2    float64
coluna3     object
coluna4    float64
dtype: object

# 3. Identificando dados ausentes <a name="identificando"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [15]:
df.isna()

   coluna1  coluna2  coluna3  coluna4
A    False    False    False    False
B     True    False    False    False
C    False    False    False    False
D     True    False    False    False
E     True    False     True     True
F    False    False    False    False
G     True    False    False    False
H    False    False    False    False
I     True    False    False     True

In [16]:
# Alias do isna
df.isnull()

   coluna1  coluna2  coluna3  coluna4
A    False    False    False    False
B     True    False    False    False
C    False    False    False    False
D     True    False    False    False
E     True    False     True     True
F    False    False    False    False
G     True    False    False    False
H    False    False    False    False
I     True    False    False     True

In [17]:
df['coluna1'].isna()

A    False
B     True
C    False
D     True
E     True
F    False
G     True
H    False
I     True
Name: coluna1, dtype: bool

In [18]:
df[df['coluna1'].isna()]

   coluna1     coluna2             coluna3    coluna4
B      NaN -119.462725   92.89744160233238  92.402529
D      NaN -150.796676   4.826625818240176  22.142274
E      NaN  -53.711057                 NaN        NaN
G      NaN -124.970419   118.7530887053972 -18.958819
I      NaN  -84.668493  -5.422328299133875        NaN

In [19]:
df[~df['coluna1'].isna()]

   coluna1     coluna2             coluna3     coluna4
A    -59.0   19.162691  147.89633575524198 -167.750207
C    -86.0  -32.080905   -95.6929273973149  109.486400
F     41.0  -26.627158  -111.3666354068138 -159.390047
H   -156.0 -194.703714   -33.4931944495851   80.329851

In [20]:
df['coluna1']

A    -59.0
B      NaN
C    -86.0
D      NaN
E      NaN
F     41.0
G      NaN
H   -156.0
I      NaN
Name: coluna1, dtype: float64

In [21]:
df['coluna1'].isna()

A    False
B     True
C    False
D     True
E     True
F    False
G     True
H    False
I     True
Name: coluna1, dtype: bool

In [22]:
df['coluna1'].isna().sum()

5

In [23]:
df.isna().sum()

coluna1    5
coluna2    0
coluna3    1
coluna4    2
dtype: int64

In [24]:
df['coluna2']

A     19.162691
B   -119.462725
C    -32.080905
D   -150.796676
E    -53.711057
F    -26.627158
G   -124.970419
H   -194.703714
I    -84.668493
Name: coluna2, dtype: float64

In [25]:
df['coluna2'].isna().sum()

0

In [26]:
percentage = (df.isnull().sum() / len(df)) * 100
percentage

coluna1    55.555556
coluna2     0.000000
coluna3    11.111111
coluna4    22.222222
dtype: float64

# 4. Tratando dados ausentes <a name="tratando"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [27]:
df['coluna1']

A    -59.0
B      NaN
C    -86.0
D      NaN
E      NaN
F     41.0
G      NaN
H   -156.0
I      NaN
Name: coluna1, dtype: float64

## Substituindo por 0

In [28]:
df['coluna1'].fillna(0)

A    -59.0
B      0.0
C    -86.0
D      0.0
E      0.0
F     41.0
G      0.0
H   -156.0
I      0.0
Name: coluna1, dtype: float64

## Substituindo pela média

In [29]:
df['coluna1']

A    -59.0
B      NaN
C    -86.0
D      NaN
E      NaN
F     41.0
G      NaN
H   -156.0
I      NaN
Name: coluna1, dtype: float64

In [30]:
(-23.0-132.0+94.0+0)/4

-15.25

In [31]:
df['coluna1'].mean()

-65.0

In [32]:
med_col1 = df['coluna1'].mean()

In [33]:
df['coluna1'].fillna(med_col1)

A    -59.0
B    -65.0
C    -86.0
D    -65.0
E    -65.0
F     41.0
G    -65.0
H   -156.0
I    -65.0
Name: coluna1, dtype: float64

## Substituindo pela mediana

In [34]:
df['coluna1']

A    -59.0
B      NaN
C    -86.0
D      NaN
E      NaN
F     41.0
G      NaN
H   -156.0
I      NaN
Name: coluna1, dtype: float64

In [35]:
df['coluna1'].sort_values()

H   -156.0
C    -86.0
A    -59.0
F     41.0
B      NaN
D      NaN
E      NaN
G      NaN
I      NaN
Name: coluna1, dtype: float64

In [36]:
(-77-33)/2

-55.0

In [37]:
df['coluna1'].median()

-72.5

In [38]:
mediana_col1 = df['coluna1'].median()

In [39]:
df['coluna1'].fillna(mediana_col1)

A    -59.0
B    -72.5
C    -86.0
D    -72.5
E    -72.5
F     41.0
G    -72.5
H   -156.0
I    -72.5
Name: coluna1, dtype: float64

In [40]:
df['coluna1'].fillna(method='ffill')

C:\Users\Lucas\AppData\Local\Temp\ipykernel_16004\110958190.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['coluna1'].fillna(method='ffill')

A    -59.0
B    -59.0
C    -86.0
D    -86.0
E    -86.0
F     41.0
G     41.0
H   -156.0
I   -156.0
Name: coluna1, dtype: float64

In [41]:
df['coluna1'].dropna()

A    -59.0
C    -86.0
F     41.0
H   -156.0
Name: coluna1, dtype: float64

In [42]:
# dropar todas as linhas que tenha pelo menos 1 NA
df.dropna()

   coluna1     coluna2             coluna3     coluna4
A    -59.0   19.162691  147.89633575524198 -167.750207
C    -86.0  -32.080905   -95.6929273973149  109.486400
F     41.0  -26.627158  -111.3666354068138 -159.390047
H   -156.0 -194.703714   -33.4931944495851   80.329851

# 5. Dados duplicados <a name="duplicados"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [43]:
!pip install --upgrade pandas --user

Requirement already satisfied: pandas in e:\anaconda\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.23.2 in e:\anaconda\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in e:\anaconda\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in e:\anaconda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in e:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [44]:
df_dup = df.append(df.loc['D':'H',:]).sort_index()
df_dup

AttributeError: 'DataFrame' object has no attribute 'append'

In [ ]:
df_dup.drop_duplicates()

In [ ]:
df_dup.drop_duplicates(subset=['coluna1'])

In [ ]:
df_dup.duplicated()

In [ ]:
df_dup[df_dup.duplicated()]

# 6. Mapeamentos <a name="map"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [45]:
# 1 feminino, 0 masculino
genero = pd.Series([1,0,1,1,1,1,0,0,0,1,1,0])
genero

0     1
1     0
2     1
3     1
4     1
5     1
6     0
7     0
8     0
9     1
10    1
11    0
dtype: int64

In [46]:
genero.map({1:'Feminino', 0:'Masculino'})

0      Feminino
1     Masculino
2      Feminino
3      Feminino
4      Feminino
5      Feminino
6     Masculino
7     Masculino
8     Masculino
9      Feminino
10     Feminino
11    Masculino
dtype: object

In [47]:
genero_2 = genero.map({1:'Feminino', 0:'Masculino'})

In [48]:
genero.map({1:'Feminino', 2:'Masculino'})

0     Feminino
1          NaN
2     Feminino
3     Feminino
4     Feminino
5     Feminino
6          NaN
7          NaN
8          NaN
9     Feminino
10    Feminino
11         NaN
dtype: object

In [49]:
genero_2.map('Genero: {}'.format)

0      Genero: Feminino
1     Genero: Masculino
2      Genero: Feminino
3      Genero: Feminino
4      Genero: Feminino
5      Genero: Feminino
6     Genero: Masculino
7     Genero: Masculino
8     Genero: Masculino
9      Genero: Feminino
10     Genero: Feminino
11    Genero: Masculino
dtype: object