## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [1]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [2]:
# 1) (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.

df_matp = 100 * df_mat / 24 
df_porp = 100 * df_por / 18
df_geop = 100 * df_geo / 8
df_ingp = 100 * df_ing / 8
df_hisp = 100 * df_his / 8
df_fisp = 100 * df_fis / 12
df_quip = 100 * df_qui / 12

In [3]:
# 2) (operações entre *DataFrames) Calcule o total de acertos de cada aluno.
pd.set_option('display.max_rows', 10)
df = pd.DataFrame()
df['total_aluno']= df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
df

    total_aluno
0            35
1            48
2            50
3            32
4            30
..          ...
95           34
96           27
97           40
98           40
99           42

[100 rows x 1 columns]

In [4]:
# 3) Calcule o porcentual geral de cada aluno. 
total_questoes = 24 + 18 + 8 + 8 + 8 + 12 + 12

df['percentual_geral(%)'] = 100 * df['total_aluno'] / total_questoes
df

    total_aluno  percentual_geral(%)
0            35            38.888889
1            48            53.333333
2            50            55.555556
3            32            35.555556
4            30            33.333333
..          ...                  ...
95           34            37.777778
96           27            30.000000
97           40            44.444444
98           40            44.444444
99           42            46.666667

[100 rows x 2 columns]

In [5]:
# 4) Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?
qntd_aprovados = (df['total_aluno'] > 45).sum()
qntd_aprovados

31

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [6]:
# 1. seu código aqui
pd.set_option('display.max_rows', 5)

df_desq = df_mat[df_mat['Qt_acertos'] == 0] + df_fis[df_fis['Qt_acertos'] == 0] + df_qui[df_qui['Qt_acertos'] == 0]
df_desq = df_desq.fillna(0)

df_desq

    Qt_acertos
3          0.0
6          0.0
..         ...
94         0.0
98         0.0

[23 rows x 1 columns]

In [7]:
#2. Quantos são esses alunos?
df_desq.count()

Qt_acertos    23
dtype: int64

In [8]:
df_desq.drop(columns=['Qt_acertos'], inplace=True)

In [9]:
#3. Qual a média desses alunos em história e geografia?
pd.set_option('display.max_rows', 6)

df_desq['Acertos_historia'] = df_his.loc[df_desq.index]
df_desq['Acertos_geografia'] = df_geo.loc[df_desq.index]
df_desq

    Acertos_historia  Acertos_geografia
3                  0                  3
6                  5                  7
10                 1                  3
..               ...                ...
92                 1                  1
94                 1                  2
98                 5                  3

[23 rows x 2 columns]

In [10]:
#4. Monte um DataFrame com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.
df_qualif = df[(df['total_aluno'] > 45) & (~df.index.isin(df_desq.index))]
df_qualif

    total_aluno  percentual_geral(%)
1            48            53.333333
2            50            55.555556
5            50            55.555556
..          ...                  ...
81           55            61.111111
88           50            55.555556
93           56            62.222222

[26 rows x 2 columns]

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [61]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-97829158-cc41-4c75-aec4-752344e6e938.c000.csv'
pd.set_option('display.max_rows', 4)

df_covid = pd.read_csv(arquivo, sep=';')
df_covid

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,a7b2e803-75ae-4c59-baa7-421d87f9a707-i0b0,3e35925a3512d7901cd2974eb662e25b6130ee42e72317...,30,1991-08-30,F,4,AMARELA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,205F21A,JANSSEN,Organization/30587,2022-05-26,Reforço,88,COVID-19 JANSSEN - Ad26.COV2.S,Novo PNI
1,5ec41855-c5b8-44de-88d0-a474814e9df0-i0b0,ac91ba1d57f1ec0a8c88e393ed7e162914cecaa47d8624...,38,1982-09-20,F,2,PRETA,120020.0,10.0,CRUZEIRO DO SUL,...,2.0,Faixa Etária,214VCD053W,ASTRAZENECA/FIOCRUZ,Organization/33781055000135,2021-07-02,1ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375522,d15e007a-f7d9-43f2-bb5c-94a0986f4cf7-i0b0,00a2cf8cb156ba7c3b61116431c4f1a0a5b175233a872a...,11,2010-08-09,F,4,AMARELA,120020.0,10.0,CRUZEIRO DO SUL,...,NaN,NaN,FN4073,PFIZER - PEDI?TRICA,28290,2022-07-29,1ª Dose,99,COVID-19 PEDIÁTRICA - PFIZER COMIRNATY,Novo PNI
375523,d173f9db-b80a-48c7-846f-079692d15503-i0b0,a0b845679aef5f58f18d51940e615aab6c6e97806af574...,24,1997-06-04,M,3,PARDA,120013.0,10.0,BUJARI,...,2.0,Faixa Etária,FF8840,PFIZER,Organization/00394544000851,2021-09-27,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI

In [70]:
# 1) Sua solução aqui
num_entries = len(df_covid)
num_entries

375524

In [71]:
# 2)
vacinados_arr = df_covid['paciente_id'].nunique()
vacinados_arr

308842

In [72]:
# 3)
df_prim_dose = df_covid[df_covid['vacina_descricao_dose'] == '1ª Dose']
print(df_prim_dose['paciente_id'].nunique())

141243

In [73]:
# 4) solução alternativa
df_nao_adulto = df_covid[df_covid['paciente_idade'] < 18]
len(df_nao_adulto)

70960

In [68]:
print(df_covid.columns)

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [79]:
# 5)
print(df_covid['estabelecimento_municipio_codigo'].nunique())

22

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [97]:
# 1)
df_nao_adulto = df_covid[df_covid['paciente_idade'] < 18]
df_nao_adulto

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
6,74629aec-ea92-40cd-868e-23620e6cd055-i0b0,23545e868e3c4555ca5b0452613d44275102e44d432e27...,15,2006-01-15,M,99,SEM INFORMACAO,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,FF8848,PFIZER,Organization/00394544000851,2021-10-09,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
9,5f2afecd-7550-4f5c-9afb-86043a6f06aa-i0b0,3c801e3d6595fb034082a1477d767e3e8a6a5a8830a964...,12,2009-08-27,M,3,PARDA,120005.0,10.0,ASSIS BRASIL,...,2.0,Faixa Etária,31065BD,PFIZER,Organization/28290,2022-01-10,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375521,d1512879-1dcd-4a80-9dca-21597ac68b9b-i0b0,99c9f90fc09e314b4f3dbbf6ecfccc666d5c00c8c2c01c...,17,2004-05-07,M,4,AMARELA,120050.0,10.0,SENA MADUREIRA,...,2.0,Faixa Etária,FA9096,PFIZER,Organization/00394544000851,2021-08-11,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
375522,d15e007a-f7d9-43f2-bb5c-94a0986f4cf7-i0b0,00a2cf8cb156ba7c3b61116431c4f1a0a5b175233a872a...,11,2010-08-09,F,4,AMARELA,120020.0,10.0,CRUZEIRO DO SUL,...,NaN,NaN,FN4073,PFIZER - PEDI?TRICA,28290,2022-07-29,1ª Dose,99,COVID-19 PEDIÁTRICA - PFIZER COMIRNATY,Novo PNI

In [98]:
# 2)
df_nao_adulto.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [99]:
# 3)
df_nao_adulto['vacina_categoria_nome'].nunique()

13

In [122]:
# 4)
columns_to_copy = ['estabelecimento_razaoSocial',
                   'estabelecimento_valor',
                   'estalecimento_noFantasia',
                   'estabelecimento_municipio_codigo',
                   'estabelecimento_municipio_nome',
                   'estabelecimento_uf']

lista = df_nao_adulto.loc[:, columns_to_copy].values.tolist()

df_nao_adulto['total_vacinas_menores_de_18'] = 0

# Extracting index and values separately
index_values = [row[0] for row in lista]
data_values = [row[1:] for row in lista]

# Creating the DataFrame
df_lista = pd.DataFrame(data_values, index=index_values, columns=columns_to_copy[1:])
#df_lista['total_vacinas_menores_de_18'] = df_covid[]

# Group by city and sum the number of vaccinations
vacinas_por_estabelecimento = df_nao_adulto.groupby('estabelecimento_razaoSocial')['total_vacinas_menores_de_18'].sum().reset_index()

# Convert the grouped DataFrame to a list of tuples
vacinas_por_estabelecimento_lista = vacinas_por_estabelecimento.values.tolist()
vacinas_por_estabelecimento_lista
#df_lista

C:\Users\Lucas\AppData\Local\Temp\ipykernel_15228\1464200143.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nao_adulto['total_vacinas_menores_de_18'] = 0

[['DISTRITO SANITARIO ESPECIAL DE SAUDE INDIGENA ALTO RIO PURUS', 0],
 ['DISTRITO SANITARIO ESPECIAL INDIGENA ALTO JURUA', 0],
 ['DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO JURUA', 0],
 ['DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO PURUS', 0],
 ['K M OLIVEIRA EIRELI', 0],
 ['MINISTERIO DA SAUDE', 0],
 ['MUNICIPIO DE BRASILEIA', 0],
 ['MUNICIPIO DE MANCIO LIMA', 0],
 ['MUNICIPIO DE MARECHAL THAUMATURGO', 0],
 ['MUNICIPIO DE PORTO WALTER', 0],
 ['MUNICIPIO DE RIO BRANCO', 0],
 ['POLO BASE DE TARAUACA', 0],
 ['PREFEITURA DE BRASILEIA', 0],
 ['PREFEITURA DE MANCIO LIMA', 0],
 ['PREFEITURA DE SENA MADUREIRA', 0],
 ['PREFEITURA MUN DE MAL THAUMATURGO', 0],
 ['PREFEITURA MUNICIIPAL DE SENA MADUREIRA', 0],
 ['PREFEITURA MUNICIPAL DE ACRELANDIA', 0],
 ['PREFEITURA MUNICIPAL DE ASSIS BRASIL', 0],
 ['PREFEITURA MUNICIPAL DE BRASILEIA', 0],
 ['PREFEITURA MUNICIPAL DE BUJARI', 0],
 ['PREFEITURA MUNICIPAL DE CAPIXABA', 0],
 ['PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL', 0],
 ['PREFEITURA MUNICIPAL DE EPITACIOLANDIA', 0],
 ['PREFEITURA MUNICIPAL DE FEIJO', 0],
 ['PREFEITURA MUNICIPAL DE JORDAO', 0],
 ['PREFEITURA MUNICIPAL DE MANCIO LIMA', 0],
 ['PREFEITURA MUNICIPAL DE MANUEL URBANO', 0],
 ['PREFEITURA MUNICIPAL DE PORTO ACRE', 0],
 ['PREFEITURA MUNICIPAL DE PORTO WALTER', 0],
 ['PREFEITURA MUNICIPAL DE RIO BRANCO', 0],
 ['PREFEITURA MUNICIPAL DE RODRIGUES ALVES', 0],
 ['PREFEITURA MUNICIPAL DE SANTA ROSA DO PURUS', 0],
 ['PREFEITURA MUNICIPAL DE SAUDE', 0],
 ['PREFEITURA MUNICIPAL DE SENA MADUREIRA', 0],
 ['PREFEITURA MUNICIPAL DE SENADOR GUIOMARD', 0],
 ['PREFEITURA MUNICIPAL DE TARAUACA', 0],
 ['PREFEITURA MUNICIPAL DE XAPURI', 0],
 ['PREFEITURA MUNICIPAL MANCIO LIMA', 0],
 ['REDE DE FRIOS', 0],
 ['SECRETARIA DE ESTADO DE SAUDE', 0],
 ['SECRETARIA DE ESTADO DE SAUDE DO ACRE', 0],
 ['SECRETARIA MUNCIPAL DE SAUDE', 0],
 ['SECRETARIA MUNICIPAL DE SAUDE', 0],
 ['SECRETARIA MUNICIPAL DE SAUDE DE BRASILEIA', 0],
 ['USF AEROPORTO VELHO', 0],
 ['USF BARRO VERMELHO', 0]]