# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [12]:
import pandas as pd
import numpy as np

# Seu código aqui
dados = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
anoSemIndex = pd.Series(dados)
anoSemIndex

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [13]:
# seu código aqui
anoComIndex = pd.Series(dados,index=[1900, 1920, 1940, 1960, 1980, 2000, 2020])
anoComIndex

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [14]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

tempSeries = pd.Series(dic_temperaturas)
tempSeries

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [22]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df = pd.DataFrame(arr)
print(df)

             0           1           2
0   122.055749   89.616098   98.859899
1   105.699086   96.868287  100.584854
2    88.160905   92.798482   84.210200
3    91.384337   82.006360  102.343435
4   112.851644   94.091354   97.160210
5    78.562777   95.391478   97.483820
6    96.342310   83.460087  107.958096
7   106.810233   97.369632   94.278916
8   103.478030  109.511401   84.431731
9   103.843761   92.409556   82.257316
10  103.916543  111.681683  102.133516
11   97.288584  108.351105  111.829881
12  114.241321  108.472747   97.269719
13  115.332785   91.582215   98.112137
14  122.168856   97.570346  116.561800
15  106.628426   96.286691  105.664982
16  100.979044  101.327691  112.201558
17  101.366167   94.526260  115.354646
18   91.094308  109.235479   99.587652
19   99.368509  101.652492   94.392700

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [24]:
#seu código aqui
df.index = range(1,21)
df.columns = ['x1', 'x2', 'x3']
print(df)

            x1          x2          x3
1   122.055749   89.616098   98.859899
2   105.699086   96.868287  100.584854
3    88.160905   92.798482   84.210200
4    91.384337   82.006360  102.343435
5   112.851644   94.091354   97.160210
6    78.562777   95.391478   97.483820
7    96.342310   83.460087  107.958096
8   106.810233   97.369632   94.278916
9   103.478030  109.511401   84.431731
10  103.843761   92.409556   82.257316
11  103.916543  111.681683  102.133516
12   97.288584  108.351105  111.829881
13  114.241321  108.472747   97.269719
14  115.332785   91.582215   98.112137
15  122.168856   97.570346  116.561800
16  106.628426   96.286691  105.664982
17  100.979044  101.327691  112.201558
18  101.366167   94.526260  115.354646
19   91.094308  109.235479   99.587652
20   99.368509  101.652492   94.392700

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [25]:
# seu código aqui
df['media'] = df.mean(axis=1)
print(df)

            x1          x2          x3       media
1   122.055749   89.616098   98.859899  103.510582
2   105.699086   96.868287  100.584854  101.050742
3    88.160905   92.798482   84.210200   88.389862
4    91.384337   82.006360  102.343435   91.911377
5   112.851644   94.091354   97.160210  101.367736
6    78.562777   95.391478   97.483820   90.479359
7    96.342310   83.460087  107.958096   95.920165
8   106.810233   97.369632   94.278916   99.486260
9   103.478030  109.511401   84.431731   99.140388
10  103.843761   92.409556   82.257316   92.836878
11  103.916543  111.681683  102.133516  105.910581
12   97.288584  108.351105  111.829881  105.823190
13  114.241321  108.472747   97.269719  106.661263
14  115.332785   91.582215   98.112137  101.675712
15  122.168856   97.570346  116.561800  112.100334
16  106.628426   96.286691  105.664982  102.860033
17  100.979044  101.327691  112.201558  104.836098
18  101.366167   94.526260  115.354646  103.749024
19   91.094308  109.235479   99.587652   99.972480
20   99.368509  101.652492   94.392700   98.471234

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [27]:
# seu código aqui
df['log_med'] = np.log(df['media'])
print(df)

            x1          x2          x3       media   log_med
1   122.055749   89.616098   98.859899  103.510582  4.639674
2   105.699086   96.868287  100.584854  101.050742  4.615623
3    88.160905   92.798482   84.210200   88.389862  4.481757
4    91.384337   82.006360  102.343435   91.911377  4.520825
5   112.851644   94.091354   97.160210  101.367736  4.618755
6    78.562777   95.391478   97.483820   90.479359  4.505122
7    96.342310   83.460087  107.958096   95.920165  4.563516
8   106.810233   97.369632   94.278916   99.486260  4.600020
9   103.478030  109.511401   84.431731   99.140388  4.596537
10  103.843761   92.409556   82.257316   92.836878  4.530844
11  103.916543  111.681683  102.133516  105.910581  4.662595
12   97.288584  108.351105  111.829881  105.823190  4.661770
13  114.241321  108.472747   97.269719  106.661263  4.669658
14  115.332785   91.582215   98.112137  101.675712  4.621788
15  122.168856   97.570346  116.561800  112.100334  4.719394
16  106.628426   96.286691  105.664982  102.860033  4.633369
17  100.979044  101.327691  112.201558  104.836098  4.652398
18  101.366167   94.526260  115.354646  103.749024  4.641975
19   91.094308  109.235479   99.587652   99.972480  4.604895
20   99.368509  101.652492   94.392700   98.471234  4.589764